/* FONTS */
body {
    font: 14px/21px "Roboto", sans-serif;
    color: #395a4f;
}

.contact-form {
    margin: 50px 0;
}

.contact-form h2,
.contact-form label {
    font-family: "Open Sans", sans-serif;
}
.form-hint,
.required-notification {
    font-size: 11px;
}
.contact-form button {
    font-size: 14px;
}

/* CHANGE BROWSER DEFAULT STYLING */
body {
    align-items: center;
    background: #3f4640;
    background-image: linear-gradient(
        to right top,
        #3f4640,
        #4d5a53,
        #5a6f67,
        #67847f,
        #749a98
    );
    background-size: cover;
    box-sizing: border-box;
    display: grid;
    justify-items: center;
    margin: 0;
    min-height: 100vh;
}

*:focus {
    outline: none;
}
:-moz-placeholder {
    color: #999;
}
::-webkit-input-placeholder {
    color: #999;
}

/* LIST STYLES */
.contact-form ul {
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 750px;
}

.contact-form li {
    padding: 12px;
    position: relative;
}

.contact-form li:first-child {
    border-bottom: 3px solid #395a4f;
    margin-bottom: 20px;
    padding: 20px 0;
}

/* FORM HEADER */
.contact-form h2 {
    display: inline;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}

.required-notification {
    color: #555;
    display: inline;
    float: right;
    margin: 5px 0 0 0;
}

/* FORM INPUTS */
.contact-form label {
    display: inline-block;
    float: left;
    margin-top: 3px;
    padding: 3px;
    text-transform: uppercase;
    width: 150px;
}

.contact-form input {
    height: 20px;
    padding: 5px 8px;
    width: 375px;
}

.contact-form textarea {
    padding: 8px;
    width: 375px;
}
.contact-form button {
    margin-left: 156px;
}

/* FORM STYLES */
.contact-form {
    background: #add1c0;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 50px;
}

.contact-form input,
.contact-form textarea {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 2 4px 4px rgba(0, 0, 0, 0.2);
    padding-right: 30px;
    padding: 15px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    background: #fff;
    border: 1px solid #555;
    box-shadow: 0 0 3px #aaa;
    transition: border 0.25s;
}

.contact-form input:focus:invalid,
.contact-form textarea:focus:invalid {
    border-color: #b03535;
    box-shadow: 0 0 5px #d45252;
}

.contact-form input:focus:valid,
.contact-form textarea:focus:valid {
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

input:required,
textarea:required {
    background: #fff;
}

::-webkit-validation-bubble-message {
    padding: 1em;
}

.form-hint {
    background: #d45252;
    border-radius: 3px;
    color: #fff;
    display: none;
    margin-left: 8px;
    padding: 1px 6px;
    position: absolute;
    z-index: 999;
}

.form-hint::before {
    color: #d45252;
    content: "\25C0";
    left: -6px;
    position: absolute;
    top: 1px;
}

/* SHOW AND HIDE FORM FIELD HINTS */
.contact-form input:focus + .form-hint {
    display: inline;
}
.contact-form input:required:valid + .form-hint {
    background: #28921f;
}
.contact-form input:required:valid + .form-hint::before {
    color: #28921f;
}

/* BUTTON STYLES */
.contact-form button {
    background-color: #638c7c;
    border: 1px solid #638c7c;
    border-radius: 2px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    width: 405px;
    padding: 15px;
}

.contact-form button:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    opacity: 0.85;
}

.contact-form button:active {
    border: 1px solid #638c7c;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
}

/* BREAKPOINTS */
@media screen and (max-width: 850px) {
    .contact-form ul {
        width: 440px;
    }
    .contact-form button {
        margin-left: 0;
        width: 414px;
    }
    .contact-form input:focus + .form-hint {
        display: block;
    }
    .contact-form input,
    .contact-form textarea {
        padding-right: 22px;
    }

    .form-hint::before {
        content: "\25B2";
        left: 10px;
        position: absolute;
        top: -15px;
    }
}

@media screen and (max-width: 560px) {
    .contact-form {
        padding-left: 10px;
        padding-right: 10px;
    }
    .contact-form li:first-child {
        margin-left: 15px;
        margin-right: 15px;
    }
}
