.ripple-container {
    overflow: hidden;
    position: relative;
}

.ripple {
    animation: ripple-animation 0.6s linear;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#bottom_section,
#arrow {
    fill: #fff;
}

@keyframes ripple-animation {
    to {
        opacity: 0;
        transform: scale(5);
    }
}

button:hover #arrow {
    animation: down-animation 0.9s ease-in-out infinite;
}

@keyframes down-animation {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(350px);
    }
}

@media (prefers-reduced-motion: reduce) {
    .ripple {
        animation: none;
    }

    button:hover #arrow {
        animation: none;
    }
}
