:root {
    --blue: #007fc5;
    --blue-pants: #6593eb;
    --duff-red: #de0000;
    --light-blue: #4763b5;
    --simpson-orange: #ff4500;
    --simpson-yellow: #ffd800;
    --t-shirt-orange: #ff6500;
    --yellow: #fecb00;
}

html,
body {
    /* background-color: var(--simpson-yellow); */
    color: #383435;
}

header {
    background-color: var(--blue-pants);
}

.jumbotron {
    background-color: var(--simpson-yellow);
    padding-bottom: 0;
}

.closeup {
    background-color: var(--simpson-yellow);
    padding: 200px 0;
}

h1,
h2,
h3,
h4 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

h1 {
    background-color: var(--blue-pants);
    color: var(--simpson-yellow);
    font-size: 8em;
    line-height: 1;
    padding: 20px 0 30px 0;
    -webkit-text-stroke: 2px 2px #383435;
    text-shadow: -2px -2px 0 #383435, 2px -2px 0 #383435, -2px 2px 0 #383435,
        2px 2px 0 #383435;
}

h2 {
    background-color: var(--blue-pants);
    color: var(--simpson-yellow);
    color: #fff;
    letter-spacing: 1px;
    margin-top: -45px;
    padding: 20px 0 30px 0;
    text-shadow: -1px -1px 0 #383435, 1px -1px 0 #383435, -1px 1px 0 #383435,
        1px 1px 0 #383435;
}

p,
li {
    font-size: 22px;
}

a {
    color: var(--simpson-yellow);
}

a:hover {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.row {
    padding: 80px 0;
}

.black-background {
    background-color: #383435;
    color: #fff;
}

.blue-background {
    background-color: var(--blue-pants);
    color: #fff;
    letter-spacing: 0.8px;
    text-shadow: -1px -1px 0 #383435, 1px -1px 0 #383435, -1px 1px 0 #383435,
        1px 1px 0 #383435;
}

.orange-background {
    background-color: var(--simpson-orange);
    color: #fff;
}

.red-background {
    background-color: var(--duff-red);
    color: #fff;
    letter-spacing: 0.8px;
    text-shadow: -1px -1px 0 #383435, 1px -1px 0 #383435, -1px 1px 0 #383435,
        1px 1px 0 #383435;
}

.yellow-background {
    background-color: var(--simpson-yellow);
    color: #fff;
}

footer {
    background-color: #000;
    color: #383435;
    padding: 20px;
}

::selection {
    background-color: #383435;
    color: #fff;
}
