html,
body {
    height: 100%;
}

.container.quote {
    align-self: center;
    margin: 0 auto;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: #ee6e73;
    transition: all 0.8s ease;
}

::selection {
    background-color: rgba(48, 35, 26, 0.9);
    color: #fff3d3;
}

.quote {
    border-bottom: 1px solid #fff3d3;
    margin-top: 0;
    margin-bottom: 0;
    padding: 50px 50px;
}

blockquote {
    border-left: 0;
    color: #fff3d3;
    font-family: "Roboto", sans-serif;
    font-size: 3em;
    font-weight: 100;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

blockquote:before {
    content: '"';
    margin-right: 0.02em;
}

blockquote:after {
    content: '"';
    margin-left: 0.02em;
}

.reference:before {
    content: "- ";
}

.reference {
    color: #fff3d3;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 0.01em;
}

#speaker {
    font-weight: 300;
}

.btn {
    background-color: #fff3d3;
    border: 1px solid #493939;
    border-radius: 5px;
    color: #493939;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    margin-top: 35px;
    padding: 15px;
    transition: all 0.8s ease;
}

.btn:hover {
    background-color: #fce29c;
    transition: all 0.8s ease;
}

footer {
    color: #fff3d3;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    grid-row: 2;
    letter-spacing: 0.01em;
    padding-bottom: 50px;
}

footer a {
    color: #493939;
    transition: all 0.8s ease;
}

footer a:hover {
    color: #fff3d3;
    text-decoration: none;
    text-shadow: 1px 1px 1px #3c3c3c;
}

@media (max-width: 768px) {
    .quote {
        padding: 30px 30px;
    }
}
