:root {
    --yellow: #eddb00;
    --black: #3f3831;
}

/* Remove the body padding */
html,
body {
    background-color: var(--yellow);
    margin: 0;
    padding: 0;
}

/* Centre the content using flex */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Style the border around the digits */
.flexbox {
    border: 50px solid var(--black);
    border-radius: 15%;
    padding: 10px 90px 80px;
}

/* Style for the binary clock digits */
h2 {
    color: var(--black);
    font-family: "Monofett", monospace;
    font-size: 7em;
    font-weight: lighter;
    line-height: 0.1em;
}

/* Media query for screens with a height less than 400px */
@media screen and (max-height: 400px) {
    h2 {
        font-size: 5em;
    }
}

/* Media query for screens with a height less than 250px */
@media screen and (max-height: 250px) {
    h2 {
        font-size: 3em;
    }
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    h2 {
        font-size: 5em;
    }
}
