:root {
    --yellow: #eddb00;
    --black: #3f3831;
}

html,
body {
    background-color: var(--yellow);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.flexbox {
    border: 50px solid var(--black);
    border-radius: 15%;
    padding: 10px 90px 80px;
}

#clock p {
    color: var(--black);
    font-family: "Monofett", monospace;
    font-size: 7em;
    font-weight: lighter;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

@media screen and (max-height: 400px) {
    #clock p {
        font-size: 5em;
    }
}

@media screen and (max-height: 250px) {
    #clock p {
        font-size: 3em;
    }
}

@media screen and (max-width: 768px) {
    #clock p {
        font-size: 5em;
    }
}
