@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap);

body {
    background-color: #a21caf; /* Needs to match the background colour of section one */
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 200ms;
}

.min-h-screen {
    min-height: 100svh;
}

.light-text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.dark-text {
    color: #1a1a1a;
}

.px-15rem {
    padding-left: 15rem;
    padding-right: 15rem;
}
